#Install Spark

In [ ]:
!pip3 install -qq pyspark

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.master("local[*]").getOrCreate()
sc=spark.sparkContext
sc

#DataFrame Operations

In [ ]:
data_file="/content/DEPT.csv"
dept_df=spark.read.csv(data_file,inferSchema=True, header=True)

In [ ]:
data_file="/content/EMP.csv"
emp_df=spark.read.csv(data_file,inferSchema=True, header=True)

In [ ]:
emp_df.printSchema()

root
 |-- EmpID: integer (nullable = true)
 |-- LastName: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- JobDesc: string (nullable = true)
 |-- JoinDate: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Comm: double (nullable = true)
 |-- DeptID: integer (nullable = true)

In [ ]:
dept_df.printSchema()

root
 |-- DeptID: integer (nullable = true)
 |-- DeptName: string (nullable = true)
 |-- ManagerID: integer (nullable = true)
 |-- Location: string (nullable = true)

#Table Creation

In [ ]:
emp_df.createOrReplaceTempView("t_EMPLOYEE")

In [ ]:
dept_df.createOrReplaceTempView("t_DEPARTMENT")

#SQL Operations

In [ ]:
sqlOUT=spark.sql("SELECT * FROM t_Employee")
sqlOUT.show()

+------+-----------+---------+----------+----------+------+----+------+
| EmpID|   LastName|FirstName|   JobDesc|  JoinDate|Salary|Comm|DeptID|
+------+-----------+---------+----------+----------+------+----+------+
|742866|    Bacchan|  Amitabh| Executive|10-03-2003| 50000| 0.1|    10|
|349870|  Mukherjee|     Rani|   Manager|04-05-2005| 25000|0.06|    40|
|865477|    Dikshit|  Madhuri|     Clerk|04-04-2002| 10000|0.02|    20|
|239456|       Khan| Shahrukh|   Manager|03-01-2004| 30000|0.07|    20|
|897889|     Sehwag| Virender|   Cus_Rep|02-01-2005| 15000|0.05|    20|
|123980|      Dhoni| Mahender|     Clerk|09-10-2004|  9000|0.02|    40|
|822134|     Dravid|    Rahul|Sr Manager|04-06-2000| 40000|0.08|    30|
|997445|     Dalmia| Jagmohan|     Clerk|01-07-2001| 12000|0.02|    30|
|989007|    Ganguly|   Sourav|   Cus_Rep|01-01-2002| 20000|0.03|    40|
|299034|    Ganesan|    Rekha|  Director|10-10-2002| 60000|0.11|    10|
|546223|Karthikeyan|  Narayan| Secretary|04-12-2005| 40000|0.09|    10|
|223112|      Mirza|    Sania|   Cus_Rep|19-11-2001| 25000|0.04|    30|
+------+-----------+---------+----------+----------+------+----+------+

In [ ]:
sqlOUT=spark.sql("Select DeptID, sum(salary) from t_EMPLOYEE Group by DeptID")
sqlOUT.show()

+------+-----------+
|DeptID|sum(salary)|
+------+-----------+
|    40|      54000|
|    20|      55000|
|    10|     150000|
|    30|      77000|
+------+-----------+

In [ ]:
sqlOUT=spark.sql("Select * From t_EMPLOYEE, t_DEPARTMENT WHERE t_EMPLOYEE.DeptID = t_DEPARTMENT.DeptID")
sqlOUT.show()

+------+-----------+---------+----------+----------+------+----+------+------+----------+---------+--------+
| EmpID|   LastName|FirstName|   JobDesc|  JoinDate|Salary|Comm|DeptID|DeptID|  DeptName|ManagerID|Location|
+------+-----------+---------+----------+----------+------+----+------+------+----------+---------+--------+
|742866|    Bacchan|  Amitabh| Executive|10-03-2003| 50000| 0.1|    10|    10| Corporate|   299034|Calcutta|
|349870|  Mukherjee|     Rani|   Manager|04-05-2005| 25000|0.06|    40|    40|Production|   349870|  Bombay|
|865477|    Dikshit|  Madhuri|     Clerk|04-04-2002| 10000|0.02|    20|    20|     Sales|   239456|Calcutta|
|239456|       Khan| Shahrukh|   Manager|03-01-2004| 30000|0.07|    20|    20|     Sales|   239456|Calcutta|
|897889|     Sehwag| Virender|   Cus_Rep|02-01-2005| 15000|0.05|    20|    20|     Sales|   239456|Calcutta|
|123980|      Dhoni| Mahender|     Clerk|09-10-2004|  9000|0.02|    40|    40|Production|   349870|  Bombay|
|822134|     Dravid|    Rahul|Sr Manager|04-06-2000| 40000|0.08|    30|    30|  Accounts|   822134|Calcutta|
|997445|     Dalmia| Jagmohan|     Clerk|01-07-2001| 12000|0.02|    30|    30|  Accounts|   822134|Calcutta|
|989007|    Ganguly|   Sourav|   Cus_Rep|01-01-2002| 20000|0.03|    40|    40|Production|   349870|  Bombay|
|299034|    Ganesan|    Rekha|  Director|10-10-2002| 60000|0.11|    10|    10| Corporate|   299034|Calcutta|
|546223|Karthikeyan|  Narayan| Secretary|04-12-2005| 40000|0.09|    10|    10| Corporate|   299034|Calcutta|
|223112|      Mirza|    Sania|   Cus_Rep|19-11-2001| 25000|0.04|    30|    30|  Accounts|   822134|Calcutta|
+------+-----------+---------+----------+----------+------+----+------+------+----------+---------+--------+